<!DOCTYPE html>
<script src="ejs.js"></script>

<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>PDF Viewer</title>
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link rel="stylesheet" href="index/index.css">
</head>

<body>
    <h2>PDF Online</h2>
    <br />

    <table align="center">
        <tr>
            <th>Stream Name</th>
            <th>Viewers</th>
            <th>Current Page</th>
        </tr>
        <% Object.keys(publicStreamList).forEach(function(key) { %>
            <tr>
                <td><a href=<%= publicStreamList[key].id %>>
                    <%= publicStreamList[key].name %></a>
                </td>
                <td><%= publicStreamList[key].viewerCount %></td>
                <td><%= publicStreamList[key].currentPage %>/<%= publicStreamList[key].pageLimit %></td>
            </tr>
        <% }) %>
    </table>

    <% if(numberOfStreams == 0){ %>
        <p>There are no streams currently running</p>
    <% } %>

    <br />
    <br />

    <p>Students: <a href="files">slides from talks in the past week</a></p>

    <p>Tutors: <a href="new">create a new stream</a></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="index/index.js"></script>
</body>